<!DOCTYPE HTML>
<html>

<head>
  <title>Startup Lanches</title>
  <script src="/js/jquery/jquery-3.3.1.min.js"></script>
</head>

<body>
  <div id="main-app">
    <h1>Startup Lanche</h1>
    
    <div v-if="detalhesLanche.id == null" id="detalhes-lanche">
	  <p>Opções do Cardápio</p>
	  <ul>
	    <li v-for="opcao in opcoesCardapio">
	      <a href="#" @click="mostraDetalhesLanche(opcao.id)"> 
	        {{ opcao.id }} - {{ opcao.nome }} 
	      </a>
	    </li>
	  </ul>
    </div>
    
    <div v-if="detalhesLanche.id != null" id="detalhes-lanche">
      <p >Detalhes do Lanche</p>
      Id: {{ detalhesLanche.id }}
      <br />
      Nome: {{ detalhesLanche.name }}
      <br />
      Ingredientes: {{ detalhesLanche.status }}
      <br />
      Adicionar ingrediente!
      <br />
      Promoções aplicadas:
      <br />
      <ul>
        <li v-for="promocao in detalhesLanche.promocoesAplicadas">
          Nome: {{ promocao.nome }} - Desconto: {{ promocao.desconto }}
        </li>
      </ul>
      <br />
      Preço do lanche: {{ detalhesLanche.preco }}
      <br />
      <a href="#" @click="limpaDetalhesLanche()">Voltar ao início</a>
    </div>
  </div>
  
  <script src="/js/vue/dist/vue.min.js"></script>
  <script src="/js/startuplanches.js"></script>
</body>

</html>
