<!DOCTYPE HTML>
<html>

<head>
  <title>Startup Lanches</title>
  <meta charset="UTF-8">
  <script src="/js/jquery/jquery-3.3.1.min.js"></script>
</head>

<body>
  <div id="main-app">
    <h1>Startup Lanche</h1>
    
    <div v-if="detalhesLanche.lanche == null" id="opcoes-cardapio">
	  <p>Opções do Cardápio</p>
	  <ul>
	    <li v-for="opcao in opcoesCardapio">
	      <a href="#" @click="mostraDetalhesLanche(opcao.id)"> 
	        {{ opcao.nome }} 
	      </a>
	    </li>
	  </ul>
    <a href="#" @click="mostraDetalhesLanche('criar')">Criar lanche do zero</a>
    </div>
    
    <div v-if="detalhesLanche.lanche != null" id="detalhes-lanche">
      <p >Detalhes do Lanche</p>
      Ingredientes:
      <br />
      <ul>
        <li v-for="ingrediente in detalhesLanche.lanche.ingredientes">
          {{ ingrediente.quantidade }} {{ ingrediente.nome }}
        </li>
      </ul>
      Selecione um ingrediente para adicionar:
      <select v-model="ingredienteSelecionado">
        <option v-for="ingrediente in ingredientes" :value="ingrediente">{{ ingrediente.nome }}</option>
      </select>
      <span v-if="ingredienteSelecionado != null">
      	<a href="#" @click="adicionarIngrediente(ingredienteSelecionado.id)"> Adicionar!</a>
      </span>
      <br />
      <br />
      <div  v-if="detalhesLanche.promocoesAplicadas.length > 0">
	    Promoções aplicadas:
	    <br />
	    <ul>
	      <li v-for="promocao in detalhesLanche.promocoesAplicadas">
	        {{ promocao.nome }} - Desconto: {{ promocao.desconto | monetario }}
	      </li>
	    </ul>
	  </div>
      Preço do lanche: {{ detalhesLanche.precoFinal | monetario }}
      <br />
      <br />
      <a href="#" @click="limpaDetalhesLanche()">Voltar ao início</a>
    </div>
  </div>
  
  <script src="/js/vue/dist/vue.min.js"></script>
  <script src="/js/startuplanches.js"></script>
</body>

</html>
